@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.clear-both:before,
.clear-both:after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #383a4a;
    background-color: #f9f9f9;
}

.navbar-maxdino {
    background-color: #383a4a;
    border: none;
    border-radius: 0;
    color: #fff;
}

.section {
    border-radius: 5px;
    background-color: #fff;
    /* padding: 15px 20px; */
}

.section .section-title {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f9f9f9;
    text-transform: uppercase;
}

.section .section-title a {
    float: right;
    color: #36b662;
    text-transform: none;
}

.section .section-title a:before,
.section .section-title a:after {
    content: '';
    display: table;
    clear: both;
}

.section.section-news {
    background: none;
    border-radius: 0;
    padding: 0;
}

.section.section-news .item-news {
    position: relative;
    margin: 20px 0;
}

.section.section-news .item-news .item-news-content {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.section.section-news .item-news .item-news-content .item-news-title {
    font-size: 14px;
    font-weight: bold;
}

.section.section-news .item-news .item-news-content .item-news-detail {
    margin: 5px 0 10px 0;
}

.section.section-news .item-news .item-news-content .item-news-name {
    font-size: 10px;
    font-weight: bold;
}

.section.section-video .item-video {
    margin-top: 20px;
}

.section.section-video .item-video .item-video-img {
    position: relative;
    margin-bottom: 10px;
}

.section.section-video .item-video .item-video-img a {
    position: absolute;
    font-size: 45px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section.section-connection .item-connection {
    padding: 10px 0;
    position: relative;
}

.section.section-connection .item-connection .item-connection-img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.section.section-connection .item-connection .item-connection-content {
    padding-left: 40px;
}

.section.section-connection .item-connection .item-connection-content .user-name {
    color: #36b662;
}

.section.section-connection .item-connection .item-connection-content span {
    color: #a9aaad;
}

.section.section-connection .item-connection .item-connection-content .text {
    color: #383a4a;
}

.section.section-post {
    padding: 20px;
    box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);
}

.section.section-post+div {
    margin-top: 20px;
}

.section.section-post.feed {
    box-shadow: none;
}

.section.section-post .head-post {
    position: relative;
    margin-bottom: 1rem;
}

.section.section-post .head-post .avatar-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.section.section-post .head-post .head-post-content {
    padding-left: 52px;
}

.section.section-post .head-post .head-post-content .head-post-name-user {
    font-weight: bold;
    color: #36b662;
}

.nav-item .img-dropdown {
    margin-left: 20px;
}

.icon-noti {
    font-size: 24px;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
}

ul.navbar-nav.navbar-nav-mr {
    margin-right: 30px;
}

.navbar-collapse .navbar-nav .nav-item.dropdown.nav-item-dropdown {
    width: 191px;
    height: 39px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-right: 30px;
}

.nav-drop-menu {
    color: #383a4a;
    float: right;
}

.nav-drop-menu:hover {
    color: #383a4a;
}

.icon-question-circle {
    color: #36b662;
    font-weight: bold;
    font-size: 16px;
    transform: translateX(50%);
    margin-left: 12px;
}

.icon-text {
    color: #36b662;
    font-weight: bold;
    font-size: 16px;
    font-family: Montserrat !important;
    line-height: 2.5;
}

form.form-inline {
    position: relative;
}

form.form-inline input {
    padding-left: 40px;
}

form.form-inline .form-search {
    width: 570px;
    height: 39px;
    border-radius: 19px;
    background-color: #ffffff;
}

textarea.form-control {
    border: none;
    border-bottom: 1px solid #a9aaad;
    border-radius: 0;
    color: #a9aaad;
}

.icon-search {
    position: absolute;
    color: #a9aaad;
    font-size: 21px;
    font-weight: normal;
    margin-left: 10px;
}

.icon-camera {
    color: #a9aaad;
    font-size: 21px;
    font-weight: bold;
}

.icon-link {
    color: #a9aaad;
    font-size: 21px;
    font-weight: bold;
}

.icon-add {
    color: #a9aaad;
    font-size: 21px;
    font-weight: bold;
}

.icon-icon-facebook {
    color: #3b5998;
    font-size: 21px;
    font-weight: bold;
}

.icon-icon-twitter {
    color: #e1e1e3;
    font-size: 21px;
    font-weight: bold;
}

.icon-calendar {
    color: #c2c3ce;
    font-size: 15px;
    margin-right: 5px;
}

.icon-public {
    color: #057ff1;
    font-size: 15px;
    margin-right: 5px;
}

.icon-more {
    color: #a9aaad;
}

.icon-like {
    color: #a9aaad;
    font-size: 21px;
    margin-right: 5px;
}

.icon-comment {
    color: #a9aaad;
    margin-right: 5px;
    font-size: 21px;
}

.item-feed .dropdown.dropdown-icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.post-feed-title {
    font-weight: bold;
    font-size: 16px;
}

.date {
    color: #a9aaad;
    font-size: 12px;
}

.head-post-story-subtitle {
    position: relative;
}

.head-post-story-subtitle .public {
    position: absolute;
    left: 35%;
    top: 0;
}

.head-post-story-subtitle .public .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
}


/* .footer-post {
    display: flex;
    flex-grow: 1;
} */

.footer-post.footer-post-like {
    display: flex;
    flex-grow: 1;
}

.footer-post.footer-post-like .ratting {
    padding: 5px;
}

@media screen and (max-width: 576px) {
    ul.navbar-nav.navbar-nav-mr {
        display: none;
    }
    .nav-drop-menu {
        margin-right: 1rem;
    }
    form.form-inline .form-search {
        display: none;
    }
    button.navbar-toggler {
        position: absolute;
        top: 55%;
        left: 0;
        color: white;
    }
    .navbar-maxdino {
        padding-bottom: 3.5rem;
    }
    .nav-item-dropdown {
        position: absolute;
        left: 50%;
        bottom: 20px;
    }
    .icon-search {
        position: absolute;
        left: 40%;
        top: 100%;
        margin-top: 10px;
    }
    .section.section-video {
        display: none;
    }
    .list-item-video .item-video .item-video-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-item-video .item-video .item-video-title {
        text-align: center;
    }
    textarea.form-control {
        border: none;
        border-bottom: 1px solid #a9aaad;
        border-radius: 0;
        color: #a9aaad;
    }
    .head-post-story-subtitle .public {
        position: absolute;
        left: 50%;
        top: 0;
    }
    /* .item-feed .dropdown .dropdown-menu.show {
        left: -35% !important;
    } */
}